*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    margin: 0 25px 0 25px;
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows: auto 1fr auto;
    min-height: 100dvh;
}

header{
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 100px;
    height: auto;
    margin: 10px 20px;
}

main{
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


footer{
    grid-area: footer;
    text-align: center;
    padding: 10px 0;
    font-size: 0.9rem;
    color: #888;
}